.svg {
  position: absolute;
  width: var(--timer-size);
  height: var(--timer-size);
}

.svg circle {
  fill: none;
  stroke-miterlimit: 0;
  stroke-linecap: round;
  stroke: var(--accent);
  stroke-width: 3px;
  transform: rotate(90deg) rotateY(180deg);
  transform-origin: center;
  transition: all 0.1s ease-out;
}
