:root {
  --padding-y: 1rem;
  --padding-x: 2.5rem;
}

.settings {
  --icon-size: 2.3rem;

  text-align: center;
  margin-top: 3rem;
  color: var(--waterloo);
  width: var(--icon-size);
  height: var(--icon-size);
  transition: transform 0.13s linear;
  border-radius: 50%;
}

.settings:hover {
  transform: rotate(-90deg);
}

.modal {
  position: relative;
  width: clamp(20rem, 30rem, 90vw);
  background-color: white;
  border-radius: 2rem;
  color: var(--background-main);
}

.modal p {
  letter-spacing: var(--letter-spacing);
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: bold;
}

.modal button[type='submit'] {
  background-color: var(--accent);
}

.durations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  gap: 2rem;
}


.durations div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form {
  padding: var(--padding-y) var(--padding-x);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-y) var(--padding-x);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-header h2 {
  font-size: 1.7rem;
  margin: 0;
  color: var(--background-main);
  font-weight: bold;
}

.hr {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  margin: 2rem 0;
}

.close {
  padding: 0.5rem;
  color: lightgray;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.close svg {
  height: 1.5rem;
}

.close:hover {
  transform: rotate(90deg);
  color: crimson;
}

.apply {
  position: absolute;
  color: var(--background-light);
  left: 50%;
  font-weight: bold;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  padding: 1rem 1.5rem;
  border-radius: 5rem;
}

.apply:active {
  transform: translateX(-50%) translateY(50%) scale(0.98);
}

.colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.radio-group {
  display: flex;
  gap: min(1rem, 0.8vw);
}

@media (max-width: 550px) {
  :root {
    --padding-y: 1rem;
    --padding-x: 1.5rem;
  }

  .durations {
    flex-direction: column;
    gap: 1rem;
  }

  .modal p {
    text-align: center;
  }

  .modal-header {
    padding: var(--padding-y) var(--padding-x);
  }

  form {
    padding: var(--padding-y) var(--padding-x);
  }
}
