:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-main: #141832;
  --background-dark: #121733;
  --background-dark-lighter: #292d52;
  --background-white: #fefeff;
  --background-light: #eff0fa;

  --timer-light: #d7e0ff;
  --accent-red: #f77272;
  --accent-blue: #70f2f7;
  --accent-purple: #d980f8;

  --falcon: #715b6b;
  --gun-powder: #403f4f;
  --gun-powder: #484b64;
  --river-bed: #4c5467;
  --waterloo-: #84849c;

  --timer-size: 23rem;
  --letter-spacing: 0.9rem;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-dark-lighter);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease-out;
}

button:active {
  transform: scale(0.98);
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
