.circles {
  border-radius: 100%;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  width: clamp(10rem, var(--timer-size), 90vw);
  height: clamp(10rem, var(--timer-size), 90vw);
  background: linear-gradient(
    to bottom right,
    var(--background-dark),
    var(--background-dark-lighter)
  );
  box-shadow:
    -4rem -2.5rem 8rem #313268,
    4rem 2.5rem 9rem #121632;
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: clamp(10rem, calc(var(--timer-size) * 0.9), 90vw * 0.9);
  height: clamp(10rem, calc(var(--timer-size) * 0.9), 90vw * 0.9);
  background-color: var(--background-main);
  border-radius: inherit;
  color: var(--timer-light);
  font-weight: bold;
}

.timer {
  font-size: 5.5rem;
  margin: 0;
  color: inherit;
}

@media (max-width: 768px) {
  .timer {
    font-size: 5em;
  }
}

.pause {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.9rem;
  color: inherit;
  text-transform: uppercase;
  border-radius: 5rem;
  letter-spacing: var(--letter-spacing);
  margin-right: calc(var(--letter-spacing) * -1);
  z-index: 5;
}
